<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/style/cadastrar.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 fundo">
                    <div class="text-center">
                        <h2>Programação</h2>
                        <h3>Diária</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box text-center">
                        <h1>Cadastrar</h1>
                        <a href="https://www.instagram.com/pedropro212/" target="_blank"><img src="/imgs/instagram.svg" alt="Instagram"></a>
                        <a href="https://github.com/PedroPro212" target="_blank"><img src="/imgs/github.svg" alt="GitHub"></a>
                        <a href="https://programacaodiaria.com.br/" target="_blank"><img src="/imgs/site.svg" alt="Portfólio"></a>
                        <form method="post" action="../php/cadastrar.php">
                            <input type="email" id="email" name="email" placeholder="E-mail:" autocomplete="off" required><br>
                            
                            <input type="password" id="password1" name="password1" placeholder="Senha:" required><br>

                            <input type="password" id="password2" name="password2" placeholder="Confirmar senha:" required><br>

                            <label for="mostrar">Mostrar senha:</label>
                            <input type="checkbox" id="mostrar" name="mostrar" onclick="Senha()"><br><br>
                            
                            <input type="submit" id="logar" name="logar" value="Cadastrar">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/script/cadastrar.js"></script>
</body>
</html>